<nb-card class="list-card" *ngIf="auth.user | async as user"> <!--size="small"-->
  <div *ngIf="user.isTA; then ta else student">
    <!-- template will replace this div -->
  </div>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item class="queue-menu" *ngIf="!queue.isOpen" (click)="openQueue()">Open Queue</button>
    <button mat-menu-item class="queue-menu" *ngIf="queue.isOpen" (click)="closeQueue()">Close Queue</button>
    <button mat-menu-item class="queue-menu" *ngIf="!showAnswered" (click)="showAnsweredQuestions()">Show Answered Questions</button>
    <button mat-menu-item class="queue-menu" *ngIf="showAnswered" (click)="hideAnsweredQuestions()">Hide Answered Questions</button>
    <button mat-menu-item class="queue-menu" (click)="askQuestion(user)">Ask Question</button>
    <button mat-menu-item class="queue-menu" (click)="deleteQueue()">Delete Queue</button>
  </mat-menu>

  <!-- User is student -->
  <ng-template #student>
    <div *ngIf="auth.user | async as user">
      <nb-card-header class="queue-title">
        {{ queue.name }} <br>
        &nbsp;&nbsp; &nbsp; Description: {{ queue.desc }}
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let question of (showAnswered ? allQuestions : unansweredQuestions) | async">
            <question [question]="question" [user]="user"></question>
          </nb-list-item>
          <nb-list-item><button nbButton fullWidth outline (click)="askQuestion(user, user.displayName)">Ask Question</button></nb-list-item>
        </nb-list>
      </nb-card-body>
    </div>
  </ng-template>

  <!-- User is TA -->
  <ng-template #ta>
    <nb-card-header class="queue-title">
      {{ queue.name }} ({{ queue.isOpen ? "Open" : "Closed" }})
      <button style="float: right;" mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <br>
      Description: {{ queue.desc }}
    </nb-card-header>
    <nb-card-body>
      <nb-list *ngIf="auth.user | async as user">
        <!--<nb-list-item *ngIf="showAnsweredQuestions">Unanswered Questions:</nb-list-item>-->
        <nb-list-item *ngFor="let question of (showAnswered ? allQuestions : unansweredQuestions) | async">
          <question [question]="question" [user]="user"></question>
        </nb-list-item>
        <!--<nb-list-item *ngIf="showAnsweredQuestions">Answered Questions:</nb-list-item>-->
        <!--<ng-container *ngIf="!!showAnsweredQuestions">-->
        <!--</ng-container>-->
      </nb-list>
    </nb-card-body>
  </ng-template>
</nb-card>



