@import '../../../@theme/styles/themes';

/*
.queue {
    display: table-cell;
}

.make-queue {
    float: right;
}*/

@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }
}
